Repository daniel-sosna/office-issue-tracker-fe: changes, and which Bitbucket steps are due for each by the changed paths.
All: ESLint (TypeScript), Stylelint (CSS/SCSS), Prettier Check (Formatting)

bitbucket-pipelines.yml:

image: node:25

pipelines:
  pull-requests:
    "**":
      - step:
          name: Install Dependencies
          caches:
            - node
          script:
            - npm ci  # Faster and more reliable for CI than `npm install`

      # Run linters and checks in parallel for faster feedback
      - parallel:
        - step:
            name: ESLint (TypeScript)
            caches:
              - node
            script:
              - npm run lint
            condition:
              changesets:
                includePaths:
                  - "src/**/*.ts"
                  - "src/**/*.tsx"

        - step:
            name: Stylelint (CSS/SCSS)
            caches:
              - node
            script:
              - npm run lint-styles
            condition:
              changesets:
                includePaths:
                  - "src/**/*.css"
                  - "src/**/*.scss"

        - step:
            name: Prettier Check (Formatting)
            caches:
              - node
            script:
              - npm run format
            condition:
              changesets:
                includePaths:
                  - "src/**/*"

        - step:
            name: Security Scan
            script:
              # Run a security scan for sensitive data.
              # See more security tools at https://bitbucket.org/product/features/pipelines/integrations?&category=security
              - pipe: atlassian/git-secrets-scan:0.5.1

Run linters fixes
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  stylelint.config.js
Due: ESLint (TypeScript), Stylelint (CSS/SCSS), Prettier Check (Formatting)

Add avatar with MUI and remove console.log
  src/app.tsx
  src/context/AuthContext.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Fix filepath glob patterns
  bitbucket-pipelines.yml
Due: none

Security has been fixed and csrfFetch has been added to the frontend.
  src/pages/Home.tsx
  src/utils/csrfFetch.tsx
  tsconfig.app.json
  vite.config.ts
Due: ESLint (TypeScript), Prettier Check (Formatting)

Renamed app.tsx -> App.tsx
  src/App.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Add Code Quality guide
  README.md
  docs/code-quality.md
Due: none

Add IDE integration and Workflow sections to guide
  docs/code-quality.md
Due: none

Add table of contents to guide
  docs/code-quality.md
Due: none

fixed APP with arrow function.
  src/App.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Add CORS allowed header and method lists
  src/App.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Refactoring is done
  src/App.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Solve problems after npm run lint
  package-lock.json
  src/App.tsx
  src/context/AuthContext.tsx
  src/context/AuthProvider.tsx
  src/context/auth-contex.tsx
  src/context/use-auth.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/utils/csrfFetch.tsx
  vite.config.ts
Due: ESLint (TypeScript), Prettier Check (Formatting)

Solve problems after npm run lint and npm run lint
  docs/code-quality.md
  src/App.css
  src/App.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  vite.config.ts
Due: ESLint (TypeScript), Stylelint (CSS/SCSS), Prettier Check (Formatting)

Initial Home page implementation | Merge Conflicts Resolved
  index.html
  public/favicon.ico
  src/App.tsx
  src/assets/background.png
  src/components/CursorRing.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Sidebar.tsx
  src/data/issues.ts
  src/index.css
  src/layouts/MainLayout.tsx
  src/main.tsx
  src/pages/issues/IssueCard.tsx
  src/pages/issues/IssueList.tsx
  src/pages/issues/Issues.tsx
  src/pages/issues/SecondaryHeader.tsx
  src/styles/index.css
  src/styles/theme.ts
  tsconfig.app.json
  vite.config.ts
Due: ESLint (TypeScript), Stylelint (CSS/SCSS), Prettier Check (Formatting)

enum like const added
  src/data/issues.ts
Due: ESLint (TypeScript), Prettier Check (Formatting)

using interface from issues.ts
  src/data/issues.ts
  src/pages/issues/IssueCard.tsx
  src/pages/issues/IssueList.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Applied suggestion to src/pages/issues/IssueCard.tsx
  src/pages/issues/IssueCard.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

using interface
  src/data/issues.ts
  src/pages/issues/IssueCard.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

merging DSFFF2 branch to simplify everything
  src/assets/Cognizant_Logo.jpeg
  src/assets/profile_placeholder.jpeg
  src/components/Footer.tsx
  src/components/Sidebar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Refactor issuecard, button position fixed, sticky sidebar
  .prettierignore
  .stylelintignore
  src/components/CursorRing.tsx
  src/components/Footer.tsx
  src/components/IssueStatusChip.tsx
  src/components/Sidebar.tsx
  src/layouts/MainLayout.tsx
  src/pages/issues/IssueCard.tsx
  src/pages/issues/IssueList.tsx
  src/pages/issues/Issues.tsx
  src/pages/issues/VoteSection.tsx
  tsconfig.app.json
  vite.config.ts
Due: ESLint (TypeScript), Prettier Check (Formatting)

Removed un-necessary comments
  src/styles/index.css
Due: Stylelint (CSS/SCSS), Prettier Check (Formatting)

Removed images
  public/vite.svg
  src/assets/react.svg
Due: Prettier Check (Formatting)

Removed images
  .stylelintignore
Due: none

Make EditorToolBar indicate currently using tools when writing text
  src/components/EditorToolBar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Create EditorToolBar component
  src/components/EditorToolBar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Update package files
  package-lock.json
  package.json
Due: none

Fix imports and use aliases in paths
  src/pages/Home.tsx
  src/pages/issues/IssueModal.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Create temporary Report Issue button in Home.tsx
  src/pages/Home.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Update styles to match modal figma design
  src/pages/issues/IssueModal.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Create report issue modal
  src/pages/issues/IssueModal.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Make ReportIssue modal buttons pill-shaped
  src/pages/issues/IssueModal.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Separate fetch logic into api layer
  src/api/issues.tsx
  src/api/offices.tsx
  src/pages/issues/IssueModal.tsx
  tsconfig.app.json
  vite.config.ts
Due: ESLint (TypeScript), Prettier Check (Formatting)

Use constants for color, update component name to EditorToolbar
  src/components/EditorToolBar.tsx
  src/pages/issues/IssueModal.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Use iconButton instead Button for icons
  src/components/EditorToolBar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Rename file EditorToolBar -> EditorToolbar
  src/components/EditorToolbar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Add titles for EditorToolbar icons
  src/components/EditorToolbar.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Add React Router, Create ErrorPage, and add RequireAuth
  src/App.tsx
  src/components/ErrorPage.tsx
  src/components/RequireAuth.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Remove console log
  src/pages/Home.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Change Home to Profile.
  src/App.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)

Apply main layout to entire app instead of only the issues page
  src/App.tsx
  src/components/ErrorPage.tsx
  src/components/RequireAuth.tsx
  src/context/AuthProvider.tsx
  src/context/use-auth.tsx
  src/layouts/MainLayout.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/issues/Issues.tsx
Due: ESLint (TypeScript), Prettier Check (Formatting)
